body{
    font-family: 'Yaldevi', sans-serif;
}
li{
    list-style: none;
}
h1{
    text-align: center;
}
.checked{
    background: radial-gradient(#60efbc, #58d5c9);
    text-decoration: line-through;
    text-align: center;
    border: solid 1px aliceblue;
    margin: 20px;
    padding: 20px;
}

.notChecked{
   background: radial-gradient(#76b2fe, #b69efe);
    text-align: center;
    border: solid 1px aliceblue;
    margin: 20px;
    padding: 20px; 
}

.cards{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:black;
  border-radius: 5px;
  
}

