*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yaldevi', sans-serif;
    
}
form{
    display: grid;
    justify-content: center;
}
button{
    display: flex;
    justify-content: center;
    margin: 1em auto 1em auto;
}

.card{
    border: 1px solid black;
    text-align: center;
    padding: 2em;
    width: 50%;
    background-color: cornflowerblue;
    margin: 1em auto;
    list-style: none;
}

.riscado{
    text-decoration: line-through;
}