*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.listaTodos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    border: 1px solid black;
    text-align: center;
    padding: 2em;
    width: 50%;
    background-color: cornflowerblue;
    margin: auto;
}